$primary: #646464;
$secondary: #9515bd;
$secondary-shadow: rgba(149, 21, 189, 0.2);
$secondary-hover: #aa1dd4;
$margin: 2rem;
$font-primary: Catamaran, sans-serif;

$resolution: 
    0 480 100%,    
    480 768 80%,
    768 1024 60%;